.drag-zoom {

    * {
        user-select: none;
    }

    .inner-container {
        position: absolute;
        width: 100%;
        height: 90%;
        padding-left: 10%;
        overflow-x: hidden;
        overflow-y: hidden;

        .padding-container {
            width: 90%;
            height: 100%;
            box-sizing: content-box;
            position: absolute;

            .drag-zoom-content {
                width: 100%;
                height: 100%;
                min-height: 100%;
                max-width: none;
                padding: 200px;
                box-sizing: content-box;

                .another-stupid-container {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    > * {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
        }
    }
}
